@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    margin: 64px auto;
}

.header {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: lightgrey;
}

.main {
    border: solid 1px black;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.button {
    margin-top: 24px;
    width: 72px;
    align-self: center;
    height: 40px;
    width: 84px;
    font-size: 16px;
    font-weight: 500;
    border: solid 1px black;
    background-color: lightgray;
}

.button:hover {
    color: lightgrey;
    background-color: black;
    cursor: pointer;
}

.error {
    margin-bottom: 24px;
    background-color: lightsalmon;
    border: solid 1px red;
    position: relative;
    display: none;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .close-button::before,
  .close-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: darkred;
    transform-origin: center;
  }
  
  .close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }